.work
  background-color: #f4f4f4
  +whScreen(100%, 835px)
  padding-top: 125px
  display: flex
  flex-direction: column

  &__title
    display: flex
    justify-content: flex-start
    color: #383838
    font-size: 55px
    font-weight: 600
    position: relative


    &::before
      content: ''
      width: 111px
      height: 4px
      background-color: #599cea
      top: 79px
      left: 230px
      position: absolute

  &__sub-title
    max-width: 45%
    color: #383838
    font-size: 29px
    font-weight: 600
    height: 70px


  &__slider
    display: flex
    flex-direction: column
    align-content: center
    position: relative
    width: 70vw
    margin-left: 10%



  &__text
    color: #848484
    font-size: 16px
    font-weight: 400
    line-height: 26px
    width: 35%
    min-height: 420px


  input[type=radio]
    display: none

#work__slider-1,
#work__slider-2,
#work__slider-3
  display: none
  flex-direction: column


#work__slider-1
  background: url("../img/work/slide-1.png") no-repeat top right
#work__slider-2
  background: url("../img/work/slide-1.png") no-repeat top right
#work__slider-3
  background: url("../img/work/slide-1.png") no-repeat top right


.work__slide-btn__wrap
  width: 180px
  position: absolute
  display: flex
  flex-direction: row
  justify-content: space-between
  bottom: 30px
  left: 50%
  transform: translate( -100%, 10%)

.work__slide-btn
  width: 49px
  height: 5px
  background-color: #c9cdd1
  cursor: pointer
  transition: all .5s ease

#work__slide-1:checked ~ #work__slider-1,
#work__slide-2:checked ~ #work__slider-2,
#work__slide-3:checked ~ #work__slider-3
  display: flex

#work__slide-1:checked ~ .work__slide-btn__wrap #work__slide-btn-1,
#work__slide-2:checked ~ .work__slide-btn__wrap #work__slide-btn-2,
#work__slide-3:checked ~ .work__slide-btn__wrap #work__slide-btn-3
  background-color: #5ca1f1

@media(max-width: 1300px)
  .work__slider
    display: flex
    align-items: center
    width: 100%
    margin: 0

  #work__slider-1,
  #work__slider-2,
  #work__slider-3
    min-width: 80%
    background: url(../img/work/slide-1.png) no-repeat 100% 0%
    background-size: 50% 55%
  .work__slide-btn__wrap
    transform: translate(-50%,10%)

@media(max-width: 800px)
  .work__title
    font-size: 38px

    &::before
      top: 79px
      left: 125px
  .work__sub-title
    max-width: 80%
  .work__text
    width: 80%


  #work__slider-1,
  #work__slider-2,
  #work__slider-3
    text-align: center
    min-width: 80%
    align-items: center
    background: url(../img/work/slide-1.png) no-repeat 30% 130%
    background-size: 80%

  .work__slide-btn__wrap
    bottom: -50px
    transform: translate(-50%, 0)

@media(max-width: 550px)
  .work__sub-title
    font-size: 24px
  #work__slider-1,
  #work__slider-2,
  #work__slider-3
    text-align: center
    min-width: 80%
    align-items: center
    background: url(../img/work/slide-1.png) no-repeat 30% 100%
    background-size: 80%

