.work
  background-color: #f4f4f4
  +whScreen(100%, 835px)


  &__inner
    display: flex
    flex-direction: row
    justify-content: space-between
    position: relative

  &__title
    color: #383838
    font-size: 29px
    font-weight: 600

  &__text
    color: #848484
    font-size: 16px
    font-weight: 400
    line-height: 26px
