
@font-face
  font-family: 'Circe'
  //font-family: 'Circe-Regular'
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.ttf')  format('truetype'),
  url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg')
  font-weight: 400
  font-style: normal


@font-face
  font-family: 'Circe'
  //font-family: 'Circe-Bold'
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe-Bold.ttf')  format('truetype'),
  url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg')
  font-weight: 700
  font-style: normal
//-----------------------------------------------------------------------

@font-face
  font-family: 'Playfair Display'
  //font-family: 'PlayfairDisplay-BoldItalic'
  src: url('../fonts/PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff'),
  url('../fonts/PlayfairDisplay-BoldItalic.ttf')  format('truetype'),
  url('../fonts/PlayfairDisplay-BoldItalic.svg#PlayfairDisplay-BoldItalic') format('svg')
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Playfair Display'
  //font-family: 'PlayfairDisplay-Bold'
  src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
  url('../fonts/PlayfairDisplay-Bold.ttf')  format('truetype'),
  url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg')
  font-weight: 700
  font-style: normal

//-----------------------------------------------------------------------

@font-face
  font-family: 'Roboto'
  //font-family: 'Roboto-Regular'
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf')  format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg')
  font-weight: 400
  font-style: normal


//-----------------------------------------------------------------------

@font-face
  font-family: 'IntroScript'
  //font-family: 'IntroScriptR-H2Base'
  src: url('../fonts/IntroScriptR-H2Base.eot?#iefix') format('embedded-opentype'),
  url('../fonts/IntroScriptR-H2Base.otf')  format('opentype'),
  url('../fonts/IntroScriptR-H2Base.woff') format('woff'),
  url('../fonts/IntroScriptR-H2Base.ttf')  format('truetype'),
  url('../fonts/IntroScriptR-H2Base.svg#IntroScriptR-H2Base') format('svg')
  font-weight: 400
  font-style: normal
